
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.space{
  margin-right: 20px;
}


/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.roww {margin: 0 -5px;}

.space{
  margin-left: 80px;
}

.nav-space{
  margin-top:30px;
}

.font{
  font-size: 2rem;
  color: #242424;
  font-weight: bold;
  position: relative;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.hello{
  margin-top:120px;
}

.react-logo{
  width:90px ;
  height:90px ;
}
.font-p{
  font-size: 2rem;
}